* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

/* banner styles */
button:hover{
    background-color: aquamarine;
}
.nav-container {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-sub-container {
    text-align: right;
    padding: 400px 230px 360px 1280px;
}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.nav-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.btn-primary {
    background-color: #FFFFFF;
    color: #005FAC;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}



/* body styles */
.failure-container {
    padding: 130px 322px 130px 205px;


}

.failure-div {
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.failure-sub-div {
    justify-content: space-between;
    padding-left: 200px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 370px;
    margin-bottom: 25px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}

ul {
    list-style-type: disc;
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

.failure-image {
    margin-left: 90px;
    width: 569px;
    height: 723.3px;
    
}

/* plan styles */

.plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
    margin-bottom: 50px;
}

.plan_container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.plans {
    justify-content: center;
    text-align: center;
}

.plans img {
    margin-bottom: 25px;

}

.plans h3 {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 30px;
}

.plans p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


.positive-title {
    width: 450px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 120px;
    padding-top: 65px;
    padding-bottom: 30px;
}

.positive {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-blend-mode: inherit;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    justify-content: center;
    margin-left: 540px;
    margin-top: 150px;
    margin-bottom: 25px;
    text-align: left;


}

#positive-btn {

    background-color: #FFFFFF;
    color: #005FAC;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 120px;
    margin-bottom: 160px;
    margin-top: 150;
    width: 160px;
    
}

/* footer styles  */

.foot {
    display: flex;
    gap: 330px;
}

footer {
    background-color: #151414;
    background-size: contain;
    padding: 230px 430px;
}

.f-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;
}

.f-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.f-img {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.sub-title {
    font-weight: 600;
    font-size: 25px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

#email {
    font-weight: 400;
    font-size: 18px;
    color: #F8F8F8;
    background-color: #151414;
    width: 325px;
    height: 64px;
    border: #F8F8F8 solid 1px;
    border-radius: 5px;

}

#email ::placeholder{
    color: #FFFFFF;
}



#submit {
    background: #005FAC;
    ;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}


